# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!*.templ
!go.sum
!go.mod

!README.md
!LICENSE
!tailwind.config.js
!input.css
!static/*
!bundle.css
!start_dev_server.sh


# !Makefile

# ...even if they are in subdirectories
!*/
